<app-nav></app-nav>
<div style="text-align:center">
    <h1>
        DASHBOARD
    </h1>
</div>

<div class="card-container">
    <div class="card">
        <div class="container">
            <h4><b>Valore 1</b></h4>
            <p>{{ content?.val1 }}</p>
        </div>
    </div>

    <div class="card">
        <div class="container">
            <h4><b>Valore 2</b></h4>
            <p>{{ content?.val2 }}</p>
        </div>
    </div>

    <div class="card">
        <div class="container">
            <h4><b>Valore 3</b></h4>
            <p>{{ content?.val3 }}</p>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <h4><b>Valore 4</b></h4>
            <p>{{ content?.val4 }}</p>
        </div>
    </div>
</div>
<div>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
            <label for="name">Message</label>
            <input type="text" class="form-control" id="name"
               required [(ngModel)]="model.message" name="name"
               #name="ngModel">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
<div id="body-message">
    <p>+ {{model?.message}}</p>
</div>
<router-outlet></router-outlet>
